.header-container {
    width: 100%;
    height: 100px;
    background: linear-gradient(to left,rgb(195, 255, 75), rgb(84, 252, 62));
}

.header-title {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
}